<%= provide :title, t(".signup_title") %>
<h1><%= t(".signup_title") %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% content_for :button_text do %>
      <%= t(".create_account") %>
    <% end %>
    <%= render "form" %>
  </div>
</div>
